@import "./../../../styles/colors";

#events_block {
  width: 300px;
  height: 312px;
  overflow-y: scroll;
  scrollbar-width: thin;
  border: 1px solid $border-color;
  border-radius: 5px;
  &::-webkit-scrollbar {
    width: 0;
  }
  &::-webkit-scrollbar-thumb {
    background: transparent;
  }
  &::-webkit-scrollbar-track {
    box-shadow: none;
  }

  .empty {
    padding: 20px;
    text-align: center;
  }
  .event_row {
    padding: 15px 0 15px 10px;
    border-bottom: 1px solid $border-color;
    &:first-child {
    }
    &:last-child {
      border-bottom: none;
    }
    &:hover {
      .title_icons {
        .icons {
          visibility: visible;
        }
      }
    }
    .title_icons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .event_title {
        color: $title-color;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      .icons {
        display: flex;
        flex-direction: row;
        visibility: hidden;
        button {
          padding: 3px 7px;
          background-color: transparent;
        }
      }
    }
    .sub_row {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }
  }
}
