#calendar_block {
  .chosen_date {
    margin-bottom: 3px;
    font-family: "Roboto";
    > i {
      background-color: transparent;
    }
  }
}

:global(.react-datepicker) {
  font-family: "Roboto";
}
