@import "./../../styles/colors";

#event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  .page_title {
    min-width: 300px;
    text-align: center;
  }
  .row {
    margin: 10px 0;
    .label {
      font-size: 12px;
    }
    .input_item {
      width: 240px;
      > input {
        outline: none;
        border-color: $input-border-color;
      }

      input[name="budget"] {
        width: calc(100% - 40px);
        outline: none;
        border-right: none;
      }
      input:not([name="budget"]) {
        border: 1px solid $input-border-color !important;
        border-radius: 0.28571429rem !important;
        & ~ div {
          display: none;
        }
      }
    }

    > p {
      font-size: 11px;
      color: $warning-color;
    }
  }
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 240px;

    button {
      font-family: "Roboto";
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

:global(.ui.input.error) {
  > div {
    background-color: $warning-bg-color;
  }
}
